@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}

.primary-bg {
    background: #0ea2e8;
}

.sencondary-bg {
    background: #ff48aa;
}

.primary-text {
    color: #0ea2e8;
}

.sencondary-text {
    color: #ff48aa;
}

.pinck-gradient-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 4%, rgba(255, 167, 212, 1) 110%);
}

.blue-gradient-bg {
    background: rgb(47, 122, 181);
    background: linear-gradient(330deg, rgba(47, 122, 181, 0.6) 40%, rgba(9, 32, 63, 0.7) 74%);
}

.btn-secondary {
    background: #ff48aa;
}

.btn-secondary:hover {
    background: #ff48aa;
}

.border-primary {
    border-color: #ff48aa !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.contact-main-div {
    margin-right: 10px !important;
}

.contact_div {
    padding-left: 15%;
}

.input-width {
    width: 85%;
}

.input-height {
    height: 80px;
}

.inner-input {
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 65px;
}

.input-width-2 {
    width: 123%;
}

.industries-div {
    padding-left: 15%;
}

.industries-inner-div {
    width: 50%;
    border-radius: 5px;
}

.industries-inner-div img {
    height: 60px;
    width: 60px;
}

.industries-inner-div-2 {
    width: 50%;
    margin-top: 90px;
}

.industries-inner-div-2 p {
    font-size: 12px;
    font-weight: 500;
}

.siebel_div1 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
}

/* SalesForce Solutions Page */

.img .img-content {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    color: white;
    padding-top: 150px;
    padding-left: 100px;
    /* z-index: 1; */
}

.img .img-content .uderline {
    text-decoration: underline;
    text-decoration-color: #ff48aa;
}

.img img {
    height: 500px;
    width: 100%;
    /* z-index: 2; */
}

.main2 {
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    padding: 50px 20px;
}

.main2 h6 {
    font-weight: bolder;
}

.main2 img {
    height: 50px;
    width: 50px;
}

.main3 {
    padding: 50px 80px;
}

.main3 img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.main3 hr {
    width: 80%;
    height: 5px;
    background-color: rgb(255, 255, 255) !important;
}

.main4 {
    margin-top: 90px;
}

.main4 hr {
    width: 60%;
    height: 2px;
    background-color: #ff48aa;
}

.main4-inner-div {
    padding-left: 140px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.crm_img {
    height: 200px;
    width: 350px;
}

.siebel_div1 {
    padding: 60px;
}

.welcom_div {
    margin-left: 180px !important;
    margin-top: 420px !important;
    color: #077CB4;
    opacity: 0.8;
    background-color: rgba(248, 250, 251, 255);
    height: 330px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 174, 218, 0.2);
}

.welcom-text {
    margin-top: 55px !important;
    /* z-index: 2; */
}

.hover-box {
    display: none;
    text-align: start;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #0ea2e8;
    /* Blue color */
    color: #fff;
    /* White text color */
    border-radius: 5px 5px 0px 0px;

    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.col-sm-3 {
    position: relative;
    /* height: 300px; */
}

.col-sm-3:hover .hover-box {
    display: block;
}

.data_offering {
    margin-bottom: 95px;
    margin-top: 120px;
}

.vision_div {
    height: 380px !important;
    margin-top: 40px;
    width: 600px !important;
}

.mission_div {
    height: 380px;
    margin-top: 40px;
    width: 600px !important;
}

.logos_page_sev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.industry_base {
    gap: 100px;
    padding-left: 100px;
}

@media screen and (max-width: 320px) {
    .our_ai_pad_div {
        width: 2px !important;
        margin-top: 500px !important;
    }

    .our_ser_div {
        width: 50px !important;
    }

    .it_consult {
        width: 10px !important;
    }

    .vision_img {
        height: 1150px !important;
    }

    .blue_img_back {
        height: 1150px !important;
    }

    .vision_div {
        height: 400px;
        margin-top: 40px;
        width: 300px !important;
    }

    .mission_div {
        height: 550px;
        margin-top: 40px;
        width: 300px !important;
    }


    .welcom_div {
        /* margin-left: 150px !important;  */
        margin-top: 0px !important;
        color: #077CB4;
        opacity: 1 !important;
        /* background-color: rgba(248,250,251,255);  */
        /* background-color: #ff48aa !important; */
        height: 300px;
        position: relative !important;
        font-size: x-small;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.2);
    }

    .industry_base {
        margin-left: 50px !important;
    }

    .logos_page_sev {
        margin-left: 100px !important;
    }

    .connect_btn {
        width: 200px !important;
    }

    .crm_text {
        margin-top: 20px !important;
        /* margin-left: 100px; */
        padding-left: 90px !important;
    }

    .siebel_div1 {
        padding-left: 200px !important;
    }

    .emp_bor {
        width: 280px !important;
        /* justify-content: center !important;  */
        margin-left: 50px !important;

    }

    .decipher_bor {
        width: 280px !important;
        margin-left: 50px !important;
    }

    .enhanced_bor {
        width: 280px !important;
        margin-left: 50px !important;
    }

    .harness_bor {
        width: 280px !important;
        margin-left: 50px !important;
    }

}

@media screen and (max-width : 399px) and (min-width : 360px) {

    body {
        overflow-x: hidden;
    }

    .our_ser_div {
        /* padding-right: 20px !important; */
        padding-left: 10px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .card-width {
        width: 320px !important;
    }

    .cards {
        margin-right: 200px !important;
    }

    .card-body-inner-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .vision_img {
        height: 1150px !important;
    }

    .blue_img_back {
        height: 1150px !important;
    }

    .vision_div {
        height: 400px !important;
        margin-top: 40px;
        margin-left: 20px;    
        width: 300px !important;
    }

    .mission_div {
        height: 600px !important;
        margin-top: 5px !important;
        margin-left: 20px;
        width: 300px !important;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcom-text {
        margin-top: -420px !important;
        /* z-index: 2; */
    }

    .image-container img {
        width: 100%;
        height: 680px;
    }

    .welcom_div {
        margin-right: 180px !important;
        margin-top: 180px !important;
        color: #077CB4;
        opacity: 0.9 !important;
        height: 410px;
        width: 90% !important;
        /* position: relative; */
        font-size: 12px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.2);
    }

    .whowe_text {
        margin-top: 5px !important;
    }

    .whowe_inner_text {
        padding-left: 150px !important;
        padding-right: 30px !important;
    }

    .industry_base {
        margin-left: -65px !important;
        gap: 10px;
    }

    .logos_page_sev {
        /* margin-left: 10px !important; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tranform_buss {
        /* margin-top: 70px !important;
        padding-left: 70px !important; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .empower_card,
    .harness_card,
    .decipher_card,
    .enhanced_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data_offering_inner_div {
        display: flex;
        gap: 50px;
    }

    .hover-box {
        display: none;
        text-align: start;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-color: #0ea2e8;
        /* Blue color */
        color: #fff;
        /* White text color */
        border-radius: 5px 5px 0px 0px;

        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    }

    .col-sm-3 {
        position: relative;
        /* height: 300px; */
    }

    .col-sm-3:hover .hover-box {
        display: block;
    }

    .footer-1-div-text {
        font-size: 16px !important;
    }

    .aimi_img_contant {
        margin-left: 40px !important;
    }

    .img .img-content {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 85% !important;
        color: white;
        padding-top: 130px !important;
        padding-left: 60px !important;
        /* z-index: 1; */
    }

    .img .img-content .uderline {
        text-decoration: underline;
        text-decoration-color: #ff48aa;
    }

    .crm_text {
        margin-top: 20px !important;
        /* margin-left: 100px; */
        padding-left: 110px !important;
    }

    .contact_div h2 {
        font-size: 20px;
    }

    .input-width {
        width: 85%;
    }

    .input-height {
        height: 80px;
    }

    .inner-input {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .input-width-2 {
        width: 85%;
    }

    .industries-div {
        margin-top: 30px;
    }

    .industries-div h2 {
        font-size: 20px;
    }

    .industries-inner-div {
        width: 80%;
        border-radius: 5px;
    }

    .industries-inner-div img {
        height: 60px;
        width: 60px;
    }

    .industries-inner-div-2 {
        width: 80%;
        margin-top: 90px;
    }

    .industries-inner-div-2 p {
        font-size: 12px;
        font-weight: 500;
    }

    .footer {
        font-size: 12px;
        text-align: center;
    }

    .main2 img {
        height: 70px !important;
        width: 70px !important;
    }

    .main2 h6 {
        font-weight: bolder;
        font-size: 16px !important;
    }

    .main2 h3,
    .main2 p {
        /* font-weight: bolder; */
        font-size: 24px !important;
    }

    .main3 img {
        height: 190px !important;
        width: 190px !important;
        border-radius: 20px;
    }

    .main3 p {
        font-size: 20px;
    }

    .card-mt {
        margin-top: 10px;
    }

    .card-mt-2 {
        margin-top: 10px;
    }

    .main4 h1 {
        font-size: 20px !important;
        text-align: center;
    }

    .main4 h4 {
        font-size: 20px !important;
    }

    .main4 hr {
        width: 80%;
        height: 2px;
        background-color: #ff48aa;
    }

    .main4-inner-div {
        padding-left: 70px !important;
        padding-top: 20px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width : 430px) and (min-width : 400px) {

    body {
        overflow-x: hidden;
    }

    .industry_base {
        /* margin-right: 40px !important; */
        padding-left: 60px !important;
        gap: 20px;
    }

    .logos_page_sev {
        /* margin-left: 10px !important; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tranform_buss {
        /* margin-top: 70px !important;
        padding-left: 70px !important; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .empower_card,
    .harness_card,
    .decipher_card,
    .enhanced_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our_ser_div {
        /* padding-right: 20px !important; */
        padding-left: 30px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .card-width {
        width: 340px !important;
    }

    .cards {
        margin-right: 200px !important;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcom-text {
        margin-top: -430px !important;
    }

    .image-container img {
        width: 100%;
        height: 680px;
        /* margin-top: -650px !important; */
    }

    .welcom_div {
        margin-left: 60px !important;
        margin-right: 60px !important;
        margin-top: 210px !important;
        color: #077CB4;
        opacity: 0.8 !important;
        width: 90%;
        height: 440px;
        /* position: relative ; */
        font-size: x-small;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.2);
    }

    .welcom_div p {
        font-size: 14px;
    }

    .vision_img {
        height: 1100px !important;
    }

    .blue_img_back {
        height: 1100px !important;
    }

    .vision_div {
        height: 500px !important;
        width: 350px !important;
        margin-left: 20px !important;
    }

    .mission_div {
        height: 500px !important;
        margin-top: 10px !important;
        margin-left: 20px !important;
        width: 350px !important;
    }

    .card-btn {
        margin-right: 10px !important;
    }

    .whowe_text {
        margin-top: 1px !important;
    }

    .whowe_inner_text {
        padding-left: 150px !important;
        padding-right: 30px !important;
    }

    .footer-1-div-text {
        font-size: 20px !important;
    }

    .crm_text {
        margin-top: 20px !important;
        margin-left: 130px;
    }

    .data_offering_inner_div {
        display: flex;
        gap: 50px;
    }

    .hover-box {
        display: none;
        text-align: start;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-color: #0ea2e8;
        /* Blue color */
        color: #fff;
        /* White text color */
        border-radius: 5px 5px 0px 0px;

        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    }

    .col-sm-3 {
        position: relative;
        /* height: 300px; */
    }

    .col-sm-3:hover .hover-box {
        display: block;
    }

    .aimi_img_contant {
        margin-left: 40px !important;
    }

    .img .img-content {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 85% !important;
        color: white;
        padding-top: 130px !important;
        padding-left: 60px !important;
        /* z-index: 1; */
    }

    .img .img-content .uderline {
        text-decoration: underline;
        text-decoration-color: #ff48aa;
    }

    .contact_div h2 {
        font-size: 23px;
    }

    .input-width {
        width: 85%;
    }

    .input-height {
        height: 80px;
    }

    .inner-input {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .input-width-2 {
        width: 85%;
    }

    .industries-div {
        margin-top: 30px;
    }

    .industries-div h2 {
        font-size: 23px;
    }

    .industries-inner-div {
        width: 80%;
        border-radius: 5px;
    }

    .industries-inner-div img {
        height: 60px;
        width: 60px;
    }

    .industries-inner-div-2 {
        width: 80%;
        margin-top: 90px;
    }

    .industries-inner-div-2 p {
        font-size: 12px;
        font-weight: 500;
    }

    .footer {
        font-size: 12px;
        text-align: center;
    }

    .main3 img {
        height: 250px !important;
        width: 250px !important;
        border-radius: 20px;
    }

    .main3 p {
        font-size: 20px;
    }

    .main4 {
        margin-top: 90px;
    }

    .main4 h1 {
        font-size: 20px !important;
        text-align: center;
    }

    .main4 h4 {
        font-size: 20px !important;
    }

    .main4 hr {
        width: 80%;
        height: 2px;
        background-color: #ff48aa;
    }

    .main4-inner-div {
        padding-left: 70px !important;
        padding-top: 20px;
        margin-bottom: 100px;
    }

    .card-mt {
        margin-top: 10px;
    }

    .card-mt-2 {
        margin-top: 10px;
    }

    .main2 img {
        height: 80px !important;
        width: 80px !important;
    }

    .main2 h6 {
        font-weight: bolder;
        font-size: 20px !important;
    }

    .main2 h3,
    .main2 p {
        /* font-weight: bolder; */
        font-size: 28px !important;
    }
}

@media screen and (max-width : 799px) and (min-width : 700px) {

    .our_ser_div {
        /* padding-left: -00px !important; */
        /* padding-left: 20px !important; */
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .it_consult {
        margin-right: 280px;
        /* margin-left: -80px; */
        width: 150px !important;
    }

    .our_siebel_solution {
        width: 200px !important;
        margin-right: 230px;
    }

    .our_ai_pad_div {
        width: 200px !important;
        margin-right: 230px;
    }

    .salesforce {
        margin-right: 280px !important;
        /* margin-left: -80px; */
        width: 150px !important;
    }

    .industry_base {
        gap: 20px;
    }

    .logos_page_sev {
        /* margin-left: -100px !important; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-right: 60px;
    }

    .tranform_buss {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px !important;
    }

    .emp_bor {
        width: 300px !important;
    }

    .decipher_bor {
        width: 300px !important;
    }

    .enhanced_bor {
        width: 300px !important;
    }

    .harness_bor {
        width: 300px !important;
    }
    
    .welcom_div {
        /* margin-right: 260px !important; */
        margin-top: 240px !important;
        margin-left: 100px !important;
        color: #077CB4;
        opacity: 0.9 !important;
        height: 300px;
        width: 90% !important;
        /* position: relative !important; */
        font-size: 14px;
        /* border-radius: 10px; */
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.6);
    }

    .whowe_text {
        margin-top: 10px !important;
    }

    .whowe_inner_text {
        padding-left: 60px !important;
        padding-right: 30px !important;
    }

    #etheric_below_text {
        margin-top: -60px;
        margin-bottom: 60px;
        /* height: 400px; */
    }

    .vision_img {
        height: 900px !important;
    }

    .blue_img_back {
        height: 900px !important;
    }

    .vision_div {
        height: 380px !important;
        margin-top: 40px;
    }

    .mission_div {
        height: 380px;
        margin-top: 40px;
    }

    .footer-1-div-text {
        font-size: 20px !important;
    }

    .crm_text {
        margin-top: 20px !important;
        margin-left: 250px;
        /* align-items: center; */
    }

    .siebel_consult {
        font-size: x-large !important;
    }

    .aimi_img_contant {
        margin-left: 40px !important;
    }

    .img .img-content {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 75% !important;
        color: white;
        padding-top: 150px;
        padding-left: 100px;
        /* z-index: 1; */
    }

    .contact_div {
        padding-left: 15%;
    }

    .contact_div h2 {
        font-size: 25px;
    }

    .input-width {
        width: 92%;
    }

    .input-height {
        height: 80px;
    }

    .inner-input {
        gap: 8px;
    }

    .input-width-2 {
        width: 85%;
    }

    .industries-div {
        padding-left: 15%;
    }

    .industries-div h2 {
        font-size: 25px;
    }

    .industries-inner-div {
        width: 80%;
        border-radius: 5px;
    }

    .industries-inner-div img {
        height: 60px;
        width: 60px;
    }

    .industries-inner-div-2 {
        width: 80%;
        margin-top: 90px;
    }

    .industries-inner-div-2 p {
        font-size: 12px;
        font-weight: 500;
    }

    .main4-inner-div {
        padding-left: 90px !important;
        padding-top: 20px;
        margin-bottom: 100px;
    }

    .main3 img {
        height: 230px !important;
        width: 230px !important;
        border-radius: 20px;
    }

    .main3 p {
        font-size: 20px;
    }

    .main2 img {
        height: 80px !important;
        width: 80px !important;
    }

    .main2 h6 {
        font-weight: bolder;
        font-size: 20px !important;
    }

}

@media screen and (max-width : 800px) {
    /* .tranform_buss {
        display: flex !important;
        justify-content: center !important;
    }

    .cards1 {
        padding-right: 300px !important;
        padding-left: 100px !important;
    } */
}

@media screen and (max-width : 884px) and (min-width : 800px) {

    .industry_base {
        /* margin-left: -200px !important; */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .logos_page_sev {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-right: 60px !important;
    }

    .tranform_buss {
        display: flex;
        justify-content: center;
        /* flex-direction: row; */
        gap:40px !important;
    }

    .cards1 {
        margin-left: 10px !important;
    }

    .data_offering {
        padding: 50px;
    }

    .hover-box {
        display: none;
        text-align: start;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-color: #0ea2e8;
        /* Blue color */
        color: #fff;
        /* White text color */
        border-radius: 5px 5px 0px 0px;

        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    }

    .col-sm-3 {
        position: relative;
        /* height: 300px; */
    }

    .col-sm-3:hover .hover-box {
        display: block;
    }

    .emp_bor {
        width: 300px !important;

    }

    .decipher_bor {
        width: 300px !important;
    }

    .enhanced_bor {
        width: 300px !important;
    }

    .harness_bor {
        width: 300px !important;
    }

    .our_ser_div {
        /* padding-left: -00px !important; */
        /* padding-left: 20px !important; */
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .our_ai_pad_div {
        padding-right: 400px !important;
    }

    .it_consult {
        /* margin-right: 50px;
        margin-left: -80px; */
    }

    .salesforce {
        /* margin-right: 100px !important; */
        /* margin-right: 50px;
        margin-left: -80px; */
    }

    /* .isebel_div{
        margin-left: -50px;
    } */

    .sale_para {
        margin-right: 80px !important;
    }

    /*.siebel_para{
        margin-left: 900px !important;
    } */

    .our_siebel_solution {
        /* margin-right: -100px !important; */
    }

    .sale_btn {
        /* margin-right: 60px; */
    }

    .whowe_text {
        margin-top: 10px !important;
    }

    .whowe_inner_text {
        padding-left: 60px !important;
        padding-right: 30px !important;
    }

    .vision_img {
        height: 850px !important;
    }

    .blue_img_back {
        height: 850px !important;
    }
    
    .welcom_div {
        /* margin-right: 260px !important; */
        margin-top: 250px !important;
        margin-left: 100px !important;
        color: #077CB4;
        opacity: 0.9 !important;
        height: 300px;
        width: 90% !important;
        /* position: relative !important; */
        font-size: 14px;
        /* border-radius: 10px; */
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.4);
    }
    .group_img {
        margin-top: -80px !important;
    }

    #etheric_below_text {
        margin-top: -100px;
        margin-bottom: 50px;
        /* height: 400px; */

    }

    .aimi_img_contant {
        margin-left: 60px !important;
    }

    .img .img-content {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 75% !important;
        color: white;
        padding-top: 150px;
        padding-left: 100px;
        /* z-index: 1; */
    }

    .crm_text {
        margin-top: 20px !important;
        margin-left: 250px;
        /* align-items: center; */
    }

    .footer-1-div-text {
        font-size: 20px !important;
    }

    .siebel_consult {
        font-size: x-large !important;
    }

    .crm_img {
        display: flex;
    }

    .crm_text {
        font-size: 20px !important;
    }

    .contact_div {
        padding-left: 15%;
    }

    .contact_div h2 {
        font-size: 25px;
        /* font-weight: normal !important; */
    }

    .input-width {
        width: 92%;
    }

    .input-height {
        height: 80px;
    }

    .inner-input {
        gap: 8px;
    }

    .input-width-2 {
        width: 85%;
    }

    .industries-div {
        padding-left: 15%;
    }

    .industries-div h2 {
        font-size: 25px;
    }

    .industries-inner-div {
        width: 80%;
        border-radius: 5px;
    }

    .industries-inner-div img {
        height: 60px;
        width: 60px;
    }

    .industries-inner-div-2 {
        width: 80%;
        margin-top: 90px;
    }

    .industries-inner-div-2 p {
        font-size: 12px;
        font-weight: 500;
    }

    .card-mt {
        margin-top: 30px;
    }

    .main4-inner-div {
        padding-left: 80px !important;
        padding-top: 20px;
        margin-bottom: 100px;
    }

    .main3 img {
        height: 230px !important;
        width: 230px !important;
        border-radius: 20px;
    }

    .main3 p {
        font-size: 20px;
    }

    .main2 img {
        height: 80px !important;
        width: 80px !important;
    }

    .main2 h6 {
        font-weight: bolder;
        font-size: 20px !important;
    }
}

@media screen and (max-width : 1050px) and (min-width : 1000px) {
    .welcom_div {
        margin-right: 260px !important;
        margin-top: 240px !important;
        margin-left: 100px !important;
    }

    .whowe_inner_text {
        padding-left: 60px !important;
        padding-right: 30px !important;
    }

    .mission-vision-div {
        padding-left: 20px;
        display: flex;
        justify-content: center;
    }

    .vision_div {
        height: 400px !important;
        margin-top: 40px;
        width: 450px !important;
    }

    .mission_div {
        height: 400px;
        margin-top: 40px;
        width: 450px !important;
    }

    .our_ser_div {
        margin-bottom: 50px !important;
    }

    .it_consult {
        width: 50% !important;
        padding-left: 50px !important;
    }
    
    .our_ai_pad_div {
        width: 50% !important;
    }
    
    .salesforce{
        width: 48% !important;
        margin-top: 30px !important;
        margin-left: -60px !important;
        /* padding-right: 10px !important; */
        padding-left: 30px !important;
    }

    .our_siebel_solutionv {
        width: 52% !important;
    }

    .card-btn {
        margin-right: 40px !important;
    }

    .industry_base {
        margin-right: 80px !important;
    }

    .logos_page_sev {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding-right: 50px;
    }

    .tranform_buss {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        gap: 10px !important;
    }

    .cards1 {
        /* margin-right: -180px !important; */
        margin-left: -40px !important;
    }

    .emp_bor {
        width: 240px !important;

    }

    .decipher_bor {
        width: 240px !important;
    }

    .enhanced_bor {
        width: 240px !important;
        /* margin-left: 30px !important; */
    }

    .harness_bor {
        width: 240px !important;
        /* margin-left: 30px !important; */
    }


}

@media screen and (max-width : 1280px) and (min-width : 1200px) {


    .footer-1-div-text {
        font-size: 20px !important;
    }

    .contact_div {
        padding-left: 15%;
    }

    .contact_div h2 {
        font-size: 25px;
        /* font-weight: normal !important; */
    }

    .input-width {
        width: 92%;
    }

    .input-height {
        height: 80px;
    }

    .inner-input {
        gap: 8px;
    }

    .input-width-2 {
        width: 85%;
    }

    .industries-div {
        padding-left: 15%;
    }

    .industries-div h2 {
        font-size: 25px;
    }

    .industries-inner-div {
        width: 60%;
        border-radius: 5px;
    }

    .industries-inner-div img {
        height: 60px;
        width: 60px;
    }

    .industries-inner-div-2 {
        width: 80%;
        margin-top: 90px;
    }

    .industries-inner-div-2 p {
        font-size: 12px;
        font-weight: 500;
    }

    .img .img-content {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        width: 70%;
        color: white;
        padding-top: 150px;
        padding-left: 100px;
        /* z-index: 1; */
    }

    .img .img-content .uderline {
        text-decoration: underline;
        text-decoration-color: #ff48aa;
    }

    .img img {
        height: 500px;
        width: 100%;
        /* z-index: 2; */
    }

    .main3 {
        padding: 50px 80px;
    }

    .main3 img {
        height: 200px;
        width: 200px;
        border-radius: 20px;
    }

    .main4 {
        margin-top: 90px;
    }

    .main4 h1 {
        font-size: 25px;
    }

    .main4 hr {
        width: 80%;
        height: 2px;
        background-color: #ff48aa;
    }

    .main4-inner-div {
        padding-left: 120px;
        padding-top: 20px;
        margin-bottom: 100px;
    }

    .welcom_div {
        /* margin-right: 260px !important; */
        margin-top: 320px !important;
        margin-left: 150px !important;
        /* color: #077CB4;
        opacity: 0.7 !important;
        height: 300px;
        width: 90% !important;
        position: relative !important;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 174, 218, 0.2); */
    }

    .logos_page_sev {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 80px !important;
    }

    .industry_base {
        padding-left: 100px;
    }

    .mission-vision-div {
        padding-left: 20px;
    }

    .vision_div {
        height: 380px !important;
        margin-top: 40px;
        width: 550px !important;
    }

    .mission_div {
        height: 380px;
        margin-top: 40px;
        width: 550px !important;
    }
}